* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Nav {
  background-color: #395563;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 1vw;
  padding-right: 1vw;
}

.App-Nav-Logo {
  height: 10vh;
  width: 24vh;
}

.search-input{
  border-radius: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-right: 1vw;
}

.search-button{
  border-radius: 5px;
  border: black;
  border-style: outset;
  background-color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.App-header {
  background-color: #ffffff;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  padding: 2vh;
}

.App-Display {
  width: 60%;
  height: 60%;
  align-items: center;
}

.App-Floors {
  width: 5vw;
  height: 5vh;
  align-items: right;
}

.App-Info {
  justify-self: flex-end;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 10px;
  border-style: solid;
  border-color: #58595b;
  width: 30vw;
  height: 78vh;
}